*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #008000;
    color: greenyellow;
    display: flex;
    justify-content: space-around;
    padding: 24px;
    font-size: 24px;
}
.cabeçalho-imagem {
    width: 400px;
    height: 400px;
}
.cabeçalho-lista-item {
    display: inline-block;
    padding: 24px;
    margin: 24px
}